body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('img/1345108.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  button  {
        all: unset;
        display: block;
        width: 400px;
        height: 400px;
        background-image: url('img/butao\ usagi.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: all 500ms ease;
      }

      button:hover {
        cursor: pointer;
        width: 500px;
        height: 500px;
      }